@{
    ViewData["Title"] = "Чат";
}

<div class="container content mt-5" style="min-width:920px">
    <div class="container p-0">
		<div class="card">
			<div class="row g-0">
				<!--list users online-->
				<div class="col-12 col-lg-5 col-xl-3 border-right">
					<hr class="ListUsers d-block d-lg-none mt-1 mb-0">
				</div>

				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="~/images/avatar.jpg" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								@if(Context.User.Identity != null){
									<strong id="userName">@Context.User.Identity!.Name</strong>
								}
							</div>
							<div>
								<button id="Connect" class="btn btn-primary btn-lg mr-1 px-3">Войти</button>
								<button id="Disconnect" class="btn btn-primary btn-lg mr-1 px-3">Выйти</button>
							</div>
						</div>
					</div>
					<div class="position-relative" style="height:500px">
						<!--chat message-->
						<div class="chat-messages p-4" style="height:500px">	
						</div>
					</div>

					<div class="flex-grow-0 py-3 px-4 border-top">
						<div class="form-group">
							<form id="formFile" method="post" asp-controller="Chat" asp-action="SendFile" enctype="multipart/form-data">
								<input id="connectionId" type="hidden" name="connectionId" />
								<input class="form-control-file"  id="messageFile" type="file" name="uploadedFile">
							</form>
						</div>
						<div class="input-group formMessage">
							<input id="messageText" type="text" class="form-control" placeholder="Type your message">
							<button id="Send" class="btn btn-primary">Отправить</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>