@{
    ViewData["Title"] = "О программе";
}
<div class="container mt-4">
    <div class="container mb-4">
        <h1 class="text-center mb-4">О программе</h1>
        <h2 class="text-center font-weight-bold text-uppercase">Курсовая работа</h2>
        <h2 class="text-center text-lowercase">по дисциплине</h2>
        <h2 class="text-center">"Основы новых информационных технологий"</h2>
    </div>
    <div class="container mb-4">
        <p class="lh-sm">1. Разработать приложение для шифрования файлов на платформе .NET Framework с использованием шифрования AES и DES.</p>
        <p class="lh-sm">2. Разработать приложение для сканирования портов компьютера на платформе .NET Framework.</p>
        <p class="lh-sm">
            3. Выполненные задания по выбору:
            <ul class="list-group">
                <li class="list-group-item">разработать приложение для доступа к базе данных (с получением и обработкой данных из базы);</li>
                <li class="list-group-item">разработать приложение c получением и обработкой информации из базы данных и занесением этой информации в таблицу EXCEL (заданной формы) или в файл WORD (заданной формы).</li>
            </ul>
        </p>
    </div> 
</div>