@{
    ViewData["Title"] = "О программе";
}
<div class="container mt-4">
    <div class="container mb-4">
        <h1 class="text-center">О программе</h1>
        <h2 class="text-center">Основы новых информационных технологий</h2>
    </div>
    <div class="container mb-4">
        <h4 class="text-center">Лабораторная работа 1</h4>
        <p class="lh-sm">1. Создать приложение, обеспечивающие взаимодействие с некоторым сервером базы данных по схеме.</p>
        <p class="lh-sm">2. База данных должна состоять из одной таблицы.</p>
        <p class="lh-sm">
            3. Приложение должно обеспечить следующий функции:
            <ul class="list-group">
                <li class="list-group-item">отображение содержимого таблицы;</li>
                <li class="list-group-item">добавление новых строк;</li>
                <li class="list-group-item">удаление существующих;</li>
                <li class="list-group-item">фильтрация данных таблицы;</li>
            </ul>
        </p>
        <p class="lh-sm">
            4. Выбор языка: - любой высокоуровневый. Выбор сервера БД – любой, поддерживающий
            SQL. Сервер БД и приложение могут работать локально (т.е на одном ПК), по при
            разработке надо учитывать возможность работы на разных машинах, т.е взаимодействие
            через протокол TCP/IP. (интерфейс для настройки сетевой части программы НЕ нужен,
            можно использовать статически заданные в коде значения, типа «Ip=127.0.0.1»).
        </p>
        <div class="container mt-3">
            <h5>Критерии оценки</h5>
            <ol class="list-group">
                <li class="list-group-item">Программа запускается, соединяется с базой данных и отображает данные (добавленные вручную) – 25.</li>
                <li class="list-group-item">Программа умеет добавлять и удалять записи + 5.</li>
                <li class="list-group-item">Программа умеет фильтровать по нескольким критериям +10).</li>
                <li class="list-group-item">
                    Программа содержит несколько таблиц (2 - +5, 3 - +10), на главной форме выводит результат какого-нибудь запроса из обоих БД.
                    Так же необходимо добавить кнопки, которые в отдельных окнах покажут эти таблицы по отдельности.
                </li>
                <li class="list-group-item">
                    +5 использование в программе
                    <a href="https://msdn.microsoft.com/ru-ru/library/ms173454(v=sql.120).aspx">Агрегатные функций (Transact-SQL)</a>
                    для получения каких-нибудь дополнительных сведений о данных.
                </li>
            </ol>
        </div>
    </div>
    <div class="container mb-4">
        <h4 class="text-center">Лабораторная работа 2</h4>
        <p class="lh-sm">
            Все описанные ниже задания необходимо выполнять с помощью ORM
            системы (если .NET, то – Entity Framework (EF) или EF Core), минимизируя при
            этом взаимодействие с БД с помощью SQL-запросов.
        </p>
        <p class="lh-sm">1. С помощью подхода Code First, создать как минимум 2 таблицы со связью «один ко многим» с помощью EF/EF Core.</p>
        <p class="lh-sm">2. Реализовать методы создания, чтения, удаления, редактирования записей. (CRUD-операции).</p>
        <p class="lh-sm">3. Произвести изменение контекста данных и сделать миграцию.</p>
        <p class="lh-sm">4. Реализовать сортировку данных, с выбором поля сортировки и направления сортировки (по возрастанию и убыванию). (LINQ).</p>
        <p class="lh-sm">5. Реализовать методы выборки (чтения) с выбором поля и с введением искомого значения (LINQ).</p>
        <div class="container mt-3">
            <h5>Критерии оценки</h5>
            <ol class="list-group">
                <li class="list-group-item">1. 20 (Обязательная часть).</li>
                <li class="list-group-item">2. 35 (Обязательная часть).</li>
                <li class="list-group-item">3. 40.</li>
                <li class="list-group-item">4. +7.</li>
                <li class="list-group-item">5. +7.</li>
            </ol>
        </div>
    </div>
    <div class="container mb-4">
        <h4 class="text-center">Лабораторная работа 3</h4>
        <p class="lh-sm">
            Язык программирования: любой на ваш выбор.
        </p>
        <p>Графический интерфейс: WinForms/WPF(если C#), либо другой графический исходя из использованного ЯП и платформы.</p>
        <p class="lh-sm">1. Cделать запрос к какому-либо публичному APIв интернете. Полученный ответ (json) отобразить.</p>
        <p class="lh-sm">
            2. Десериализовать json-файл (из предложенных файлов или из интернет запроса) с уровнем вложенности и числом полей одного объекта не менее 3 (не включая вложенность).
            Отобразить их в удобочитаемом формате.
        </p>
        <p class="lh-sm">3. Полученный в задании 2 набор объектов сериализовать в json c измененной структурой. Отобразить форматированный json.</p>
    </div>
</div>