@{
    ViewData["Title"] = "О программе";
}
<div class="container mt-4">
    <div class="container mb-4">
        <h1 class="text-center">О программе</h1>
        <h2 class="text-center">Защита информации</h2>
    </div>
    <div class="container mb-4">
        <h4 class="text-center">Лабораторная работа 1</h4>
        <p class="lh-sm">1. Программа должна обеспечивать работу в двух режимах: администратора (пользователя с фиксированным именем ADMIN) и обычного пользователя.</p>
        <p class="lh-sm">
            2. В режиме администратора программа должна поддерживать следующие функции (при правильном вводе пароля):
            <ul class="list-group">
                <li class="list-group-item">смена пароля администратора (при правильном вводе старого пароля);</li>
                <li class="list-group-item">просмотр списка имен зарегистрированных пользователей и установленных для них параметров (блокировка учетной записи, включение ограничений на выбираемые пароли) – всего списка целиком в одном окне или по одному элементу списка с возможностью перемещения к его началу или концу;</li>
                <li class="list-group-item">добавление уникального имени нового пользователя к списку с пустым паролем (строкой нулевой длины);</li>
                <li class="list-group-item">блокирование возможности работы пользователя с заданным именем;</li>
                <li class="list-group-item">включение или отключение ограничений на выбираемые пользователем пароли (в соответствии с индивидуальным заданием, определяемым номером варианта);</li>
                <li class="list-group-item">завершение работы с программой.</li>
            </ul>
        </p>
        <p class="lh-sm">3. В режиме обычного пользователя программа должна поддерживать только функции смены пароля пользователя (при правильном вводе старого пароля) и завершения работы, а все остальные функции должны быть заблокированы.</p>
        <p class="lh-sm">4. После своего запуска программа должна запрашивать у пользователя в специальном окне входа ввод его имени и пароля. При вводе пароля его символы всегда должны на экране заменяться символом ‘*’.</p>
        <p class="lh-sm">5. При отсутствии введенного в окне входа имени пользователя в списке зарегистрированных администратором пользователей программа должна выдавать соответствующее сообщение и предоставлять пользователю возможность повторного ввода имени или завершения работы с программой.</p>
        <p class="lh-sm">6. При неправильном вводе пароля программа должна выдавать соответствующее сообщение и предоставлять пользователю возможность повторного ввода. При трехкратном вводе неверного пароля работа программы должна завершаться.</p>
        <p class="lh-sm">7. При первоначальном вводе пароля (обязательном при первом входе администратора или пользователя с зарегистрированным ранее администратором именем) и при дальнейшей замене пароля программа должна просить пользователя подтвердить введенный пароль путем его повторного ввода.</p>
        <p class="lh-sm">8. Если выбранный пользователем пароль не соответствует требуемым ограничениям (при установке соответствующего параметра учетной записи пользователя), то программа должна выдавать соответствующее сообщение и предоставлять пользователю возможность ввода другого пароля, завершения работы с программой (при первом входе данного пользователя) или отказа от смены пароля.</p>
        <p class="lh-sm">9. Информация о зарегистрированных пользователях, их паролях, отсутствии блокировки их работы с программой, а также включении или отключении ограничений на выбираемые пароли должна сохраняться в специальном файле. При первом запуске программы этот файл должен создаваться автоматически и содержать информацию только об администраторе, имеющем пустой пароль.</p>
        <p class="lh-sm">10. Интерфейс с программой должен быть организован на основе меню, обязательной частью которого должно являться подменю «Справка» с командой «О программе». При выборе этой команды должна выдаваться информация об авторе программы и выданном индивидуальном задании. Интерфейс пользователя программы может также включать панель управления с дублирующими команды меню графическими кнопками и строку состояния.</p>
        <p class="lh-sm">
            11. Для реализации указанных в пунктах 2-3 функций в программе должны использоваться специальные диалоговые формы, позволяющие пользователю (администратору) вводить необходимую информацию
        </p>
        <div class="container mt-3">
            <h5 class="text-center mt-4">Индивидуальные варианты заданий</h5>
            <div class="container mt-3">
                <h5 class="text-center">Вариант 22</h5>
                <ol class="list-group">
                    <li class="list-group-item">Oграничения на выбираемые пароли - Чередование цифр, букв и снова цифр.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <h4 class="text-center">Лабораторная работа 3</h4>
        <p class="lh-sm">1. В программу, разработанную при выполнении лабораторной работы № 1, добавить средства защиты от несанкционированного доступа к файлу с учетными данными зарегистрированных пользователей.</p>
        <p class="lh-sm">2.	Файл с учетными данными должен быть зашифрован при помощи функций криптографического интерфейса операционной системы Windows (CryptoAPI) с использованием сеансового ключа, генерируемого на основе вводимой администратором (пользователем) парольной фразы.</p>
        <p class="lh-sm">3.	При запуске программы файл с учетными данными должен расшифровываться во временный файл (или в файл в оперативной памяти), который после завершения работы программы должен быть снова зашифрован для отражения возможных изменений в учетных записях пользователей. «Старое» содержимое файла учетных записей при этом стирается.</p>
        <p class="lh-sm">4.	После ввода парольной фразы при запуске программы, генерации ключа расшифрования и расшифрования файла с учетными данными зарегистрированных пользователей правильность введенной парольной фразы определяется по наличию в расшифрованном файле учетной записи администратора программы.</p>
        <p class="lh-sm">5.	При вводе неправильной парольной фразы или отказе от ее ввода работа программы должна завершаться с выдачей соответствующего сообщения.</p>
        <p class="lh-sm">6.	Временный файл на диске с расшифрованными учетными данными после завершения работы программы удаляется.</p>
        <p class="lh-sm">7.	Варианты использования алгоритмов шифрования и хеширования выбираются в соответствии с выданным преподавателем заданием.</p>
        <p class="lh-sm">8.	Для доступа к функциям CryptoAPI из программ на Паскале следует использовать интерфейсный модуль wincrypt.pas с указанного преподавателем сетевого диска.</p>
        <div class="container mt-3">
            <h5 class="text-center mt-4">Индивидуальные варианты заданий</h5>
            <div class="container mt-3">
                <h5 class="text-center">Вариант 22</h5>
                <ol class="list-group">
                    <li class="list-group-item">Тип системного шифрования - Блочный</li>
                    <li class="list-group-item">Используемый режим шифрования - Электронная кодовая книга</li>
                    <li class="list-group-item">Добавление к ключу случайного значения - Нет</li>
                    <li class="list-group-item">Используемый алгоритм хеширования - MD4</li>
                </ol>
            </div>
        </div>
    </div>
</div>
