@model ProtectionOfInfo.WebApp.ViewModels.AccountViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "Сменить пароль";
}
<div class="container col-6 align-items-center mt-5">
    <h1 class="text-center">Сменить пароль</h1>
    <form method="post" asp-controller="Home" asp-action="UpdatePassword">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="UserName" for="UserName">Имя пользователя</label>
            <input asp-for="UserName" type="text" class="form-control" id="UserName" placeholder="Имя пользователя" value="@Model.UserName" readonly>
        </div>
        <div class="form-group">
            <label asp-for="OldPassword" for="OldPassword">Старый пароль</label>
            <input asp-for="OldPassword" type="password" class="form-control" id="OldPassword" placeholder="Старый пароль">
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" for="NewPassword">Новый пароль</label>
            <input asp-for="NewPassword" type="password" class="form-control" id="NewPassword" placeholder="Новый пароль">
        </div>
        <div class="form-group">
            <label asp-for="PasswordConfirm" for="PasswordConfirm">Новый пароль еще раз</label>
            <input asp-for="PasswordConfirm" type="password" class="form-control" id="PasswordConfirm" placeholder="Новый пароль еще раз">
        </div>
        <button type="submit" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>