<div class="container col-6 align-items-center mt-5">
    <h2 class="text-center mb-4">Работа с каталогом</h2>
    <div class="row justify-content-start mb-3">
        <div class="col-6">
            <a asp-controller="Publisher" asp-action="Publishers" class="btn btn-primary btn-block" type="submit">Список всех издательств</a>
        </div>
        <div class="col-6">
            <a asp-controller="Publisher" asp-action="Create" class="btn btn-primary btn-block" type="submit">Добавить новое издательство</a>
        </div>
    </div>
    <div class="row justify-content-start mb-3">
        <div class="col-6">
            <a asp-controller="Category" asp-action="Categories" class="btn btn-primary btn-block" type="submit">Список всех категорий</a>
        </div>
        <div class="col-6">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary btn-block" type="submit">Добавить новую категорию</a>
        </div>
    </div>
    <div class="row justify-content-start mb-3">
        <div class="col-6">
            <a asp-controller="Author" asp-action="Authors" class="btn btn-primary btn-block" type="submit">Список всех авторов</a>
        </div>
        <div class="col-6">
            <a asp-controller="Author" asp-action="Create" class="btn btn-primary btn-block" type="submit">Добавить нового автора</a>
        </div>
    </div>
    <div class="row justify-content-start mb-3">
        <div class="col-6">
            <a asp-controller="Book" asp-action="Books" class="btn btn-primary btn-block" type="submit">Список всех книг</a>
        </div>
        <div class="col-6">
            <a asp-controller="Book" asp-action="Create" class="btn btn-primary btn-block" type="submit">Добавить новую книгу</a>
        </div>
    </div>
    <div class="row justify-content-start mb-3">
        <div class="col-12">
            <a asp-controller="ConvertToFile" asp-action="GetDbExcel" class="btn btn-primary btn-block" type="submit">Скачать базу данных</a>
        </div>
    </div>
</div>