<div class="col-6 align-items-center">
    <h2 class="text-center mb-4">Навигационная панель</h2>
    <div class="d-grid gap-2">
        <a asp-controller="Administrator" asp-action="Index" class="btn btn-primary btn-block" type="submit">На главную страницу аккаунта</a>
        <a asp-controller="Home" asp-action="UpdatePassword" class="btn btn-primary btn-block" type="submit">Сменить пароль</a>
        <a asp-controller="Administrator" asp-action="RegisterUser" class="btn btn-primary  btn-block" type="submit">Зарегистрировать пользователя</a>
        <a asp-controller="Administrator" asp-action="AllUsers" class="btn btn-primary btn-block" type="submit">Список всех пользователей</a>
    </div>
</div>