<div class="container col-6 align-items-center mt-5">
    <h2 class="text-center mb-4">Настройка TelegramBot</h2>
    <div class="row justify-content-start mb-3">
        <a asp-controller="TelegramBot" asp-action="AddFile" class="btn btn-primary btn-block" type="submit">Добавить файл</a>
    </div>
    <div class="row justify-content-start mb-3">
        <a asp-controller="TelegramBot" asp-action="GetFiles" class="btn btn-primary btn-block" type="submit">Просмотреть все файлы</a>
    </div>
</div>