<div class="col-6 align-items-center">
    <h2 class="text-center mb-4">Cведения о сетевых интерфейсах</h2>
    <div class="d-grid gap-2">
        <a asp-controller="Administrator" asp-action="GetInfoPorts" class="btn btn-primary btn-block" type="submit">Список активных TCP подключений</a>
        <a asp-controller="Administrator" asp-action="GetInfoActiveTCPListeners" class="btn btn-primary btn-block" type="submit">Сведения об активных прослушивателей TCP</a>
        <a asp-controller="Administrator" asp-action="GetInfoActiveUDPListeners" class="btn btn-primary btn-block" type="submit">Сведения об активных прослушивателей UDP</a>
    </div>
</div>