<div class="col-12 align-items-center">
    <h2 class="text-center mb-4">Управление чатом</h2>
    <div class="row justify-content-start mb-3">
        <a id="DeleteMessage" asp-controller="Chat" asp-action="DeleteMessage" class="btn btn-primary btn-block" type="submit">Удалить диалог чата</a>
    </div>
</div>