@{
    ViewData["Title"] = "Аккаунт пользователя";
}

<div class="container col-6 align-items-center mt-5">
    <h2 class="text-center mb-4">Навигационная панель</h2>
    <div class="d-grid gap-2">
        <a asp-controller="Home" asp-action="UpdatePassword" class="btn btn-primary btn-block" type="submit">Сменить пароль</a>
    </div>
</div>