@using Microsoft.AspNetCore.Mvc;
@using ProtectionOfInfo.WebApp.Infrastructure.OperationResults
@model OperationResult<bool>

@{
    ViewData["Title"] = "ЭЦП файлов";
    ViewData["ErrorTitle"] = "Ошибка при выполнении запроса";
}


@if (Model != null && !Model.Ok)
{
    var operation = OperationResult.CreateResult<object>();
    operation.AppendLog(Model.Logs);
    operation.MetaData = Model.MetaData;
    operation.Exception = operation.Exception;

    <partial name="_ErrorPartial" model='operation' />
}

@if (Model != null && Model.Ok)
{
    var operation = OperationResult.CreateResult<object>();
    operation.AppendLog(Model.Logs);
    operation.MetaData = Model.MetaData;
    operation.Exception = operation.Exception;

    <partial name="_ErrorPartial" model='operation' />
}

<div class="container mt-5">
    <div class="row align-items-start mb-5">
        <div class="col-6 align-items-center">
            <h2 class="text-center">Создание ЭП</h2>
            <form method="post" asp-controller="FileEncryption" asp-action="CreateСertificate" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="months">Введите срок действия сертификата (в месяцах)</label>
                    <input id="months" type="text" class="form-control" name="months">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Создать сертификат</button>
            </form>
        </div>

        <div class="col-6 align-items-center">
            <h2 class="text-center">Удаление ЭП</h2>
            <form class="mt-3" method="post" asp-controller="FileEncryption" asp-action="GetOriginalFile" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileForDelete">Выберите файл для расшифровки (.sign)</label>
                    <input id="fileForDelete" class="form-control-file" name="fileForDelete" type="file" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Удалить подпись</button>
            </form>
        </div>
    </div>

    <div class="row align-items-start mt-5">
        <div class="col-6 align-items-center">
            <h2 class="text-center">Установка ЭП</h2>
            <form method="post" asp-controller="FileEncryption" asp-action="SignFile" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="privateKey">Выберите файл с приватным ключом (.pem)</label>
                    <input id="privateKey" class="form-control-file" name="privateKey" type="file" />
                </div>
                <div class="form-group">
                    <label for="fileForSign">Выберите файл для подписания</label>
                    <input id="fileForSign" class="form-control-file" name="fileForSign" type="file" />
                </div>
                <div class="form-group">
                    <label for="passwordForSign">Введите пароль</label>
                    <input id="passwordForSign" type="password" class="form-control" name="passwordForSign" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Подписать файл</button>
            </form>
        </div>

        <div class="col-6 align-items-center">
            <h2 class="text-center">Проверка ЭП</h2>
            <form method="post" asp-controller="FileEncryption" asp-action="CheckSignFile" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="publicKey">Выберите файл с публичным ключом (.pem)</label>
                    <input id="publicKey" class="form-control-file" name="publicKey" type="file" />
                </div>
                <div class="form-group">
                    <label for="fileForCheck">Выберите файл для проверки (.sign)</label>
                    <input id="fileForCheck" class="form-control-file" name="fileForCheck" type="file" />
                </div>
                <div class="form-group">
                    <label for="passwordForCheck">Введите пароль</label>
                    <input id="passwordForCheck" type="password" class="form-control" name="passwordForCheck" placeholder="Пароль">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Проверить подпись</button>
            </form>
        </div>
    </div>
</div>